<% include header%>
</br></br></br></br>
<section class="mbr-section contacts3 cid-rkATMCrteP" id="contacts3-1i">
    <div data-form-type="formoid">
        <div data-form-type="formoid">
            <form action="post/nouvMessage" method="POST" enctype="multipart/form-data" class="col-md-6 input-group-btn  mt-2 align-center " class="mbr-form form-with-styler" data-form-title="Mobirise Form">                
                <div class="dragArea row">
                    <div class="col-md-12  form-group" data-for="name">
                        <input type="text" name="nom" placeholder="nom du post" data-form-field="Name" required="required" class="form-control input display-7" id="name-form4-1l">
                    </div>
                    <div class="col-md-12  form-group" data-for="phone">
                        <input type="text" name="titre" placeholder="titre" data-form-field="Phone" required="required" class="form-control input display-7" id="phone-form4-1l">
                    </div>
                    <div class="col-md-12  form-group">
                        <textarea name="message" placeholder="message" data-form-field="message" class="form-control input display-7" id="message-form4-1l"></textarea>
                    </div>
                    <div class="col-md-12  form-group">
                        <input type="file" name="postmedia" >
                    </div>
                    <div class="col-md-12 input-group-btn  mt-2 align-center"><button type="submit" class="btn btn-primary btn-form display-4">Envoyer</button></div>
                </div>
            </form>
    </div>
</section>
<% include footer%>