<% include header%>
<br/></br/></br/></br/>
<div class="title col-12">
    <h2 class="align-left mbr-fonts-style m-0 display-1">
        A Propos
    </h2>
</div>
<section class="cid-rksoBb8iH8" id="video3-14">
    <figure class="mbr-figure align-center container">
        <div class="video-block" style="width: 80%;">
            <div>
                <iframe class="mbr-embedded-video" src="media/video/vid1.mp4" controls width="1280" height="720" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </figure>
</section>
<section class="mbr-section article content1 cid-rksoqLS7ND" id="content1-13">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8">
                <div style="text-align: center">
                    <img class="align-center" src="../media/images/ideeTechMatitech.png">
                </div>
                <p><strong> MatiTech!</strong> C’est une entreprise basée sur informatique 
                 et la technologie. D’où la composition du mot <em>« Mati »</em> pour informatique 
                 et  <em>« Tech »</em> pour technologie. La carence en connaissance des nouvelles
                 technologies et le manque de services informatiques font partie des
                  problèmes qui ont suscit¬¬é la création de la société.
                </p>
                <div style="text-align: center">
                    <img class="align-center" src="../media/images/argentmatitechhaiti.png">
                </div>
                  <p><strong> MatiTech!</strong> 
                    Matitech est une entreprise à but lucratif qui offre de larges
                     opportunités à ses clients et utilisateurs de ses produits de 
                     s’introduire dans son système sur des divers domaines ayant rapport 
                     à la technologie de l’informatique.
                </p>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-rksohz9oJ7" id="content10-12">
    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
                    Matitech est un Reseau Large qui contribue a l'avancement de la connaissance sur les NTIC!
                </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>
<br/>
<div class="media-container-row">
    <div class="col-7 col-md-4 col-lg-3">
        <img src="../media/images/logopng.png" width="100%" alt="matitechlogo">
    </div>
</div>
<div class="media-container-row">
    <div class="col-7 col-md-4 col-lg-3">
        <img src="../media/images/matitech.png" width="100%" alt="matitechlogo">
        <hr>
    </div>
</div> 
<br/>
<div class="section-text align-center mbr-black mbr-fonts-style display-5">
    <div class="title col-12">
            
        <h2 class="mbr-fonts-style m-0 display-1">
            CEO
        </h2>
    </div>
</div>
<br/>
<section style="background-image: url('../media/images/backgroundmt1.png')">
    <br/>
    <div class="media-container-row">
        <div class="col-8 col-md-4 col-lg-3">
            <div class="panel-item p-3" style="background-color:rgba(255, 255, 255, 0.8 );">
                <div class="card-block">
                    <div>
                        <img src="../media/images/eliothson.JPG" style="width: 100%;
                        border-radius: 100%">
                    </div>
                    <p style="text-align: center">
                        Formateur en Web Marketing, programmeur backend, CEO                     </p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                        Fontin Eleazar Eliothson
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                        Fonder
                    </small>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/eliothson" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/eliothson.fontin" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/eliohtson-fontin-703a3b165/" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/eliothson/" target="_blank">
                            <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                </div>
                
            </div>
            <hr>
        </div>
       
        <div class="col-8 col-md-4 col-lg-3">
            <div class="panel-item p-3" style="background-color:rgba(255, 255, 255, 0.8 );">
                <div class="card-block">
                    <div>
                        <img src="../media/images/bethanie.jpg" style="width: 100%;
                        border-radius: 100%">
                    </div>
                    <p style="text-align: center">
                        Specialiste en reseau et telecomunication 
                    </p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                        Joseph Marie Bethanie
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                        Vice-Coordonatrice
                    </small>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/matitechht" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>                          
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <br/>
        <div class="col-8 col-md-4 col-lg-3">
            <div class="panel-item p-3" style="background-color:rgba(255, 255, 255, 0.8 );">
                <div class="card-block">
                    <div>
                        <img src="../media/images/derrick.jpg" style="width: 100%;
                        border-radius: 100%">
                    </div>
                    <p style="text-align: center">
                        Concepteur de Administrateur de de Base de donnee
                    </p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                        Gilot Derrick
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                        Administrateur System
                    </small>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
<!-- deuxiemme lignes des CEO -->
    <div class="media-container-row">
        <div class="col-8 col-md-4 col-lg-3" >
            <div class="panel-item p-3" style="background-color:rgba(255, 255, 255, 0.8 );">
                <div class="card-block">
                    <div>
                        <img src="../media/images/youse.jpg" style="width: 100%;
                        border-radius: 100%">
                    </div>
                    <p style="text-align: center">
                        Public speaker, Journaliste et informaticienne
                    </p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                        Brimaire Leika Youseline
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                        Secretaire
                    </small>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/youseline-leika-brimaire7b1b6a152" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-8 col-md-4 col-lg-3">
            <div class="panel-item p-3" style="background-color:rgba(255, 255, 255, 0.5 );">
                <div class="card-block">
                    <div>
                        <img src="../media/images/kevin.jpg" style="width: 100%;
                        border-radius: 100%">
                    </div>
                    <p style="text-align: center">
                        Programmeur Web fulsctacks, Desinger
                    </p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                        Duliepre Kevin
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                        Analyste Programmeur
                    </small>
                    <div class="item-social pt-2">
                    <a href="https://www.facebook.com/Nivek.2204" target="_blank">
                        <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/kevin-duliepre-700a08166" target="_blank">
                        <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://www.instagram.com/kevinduliepre/" target="_blank">
                        <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>                      
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <br/>           
</section>

<section class="counters5 counters cid-rksnCg0HXw" id="counters5-10">
    <div class="container pt-4 mt-2">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2"><strong> Pourquoi nous choisir</strong></h2>
        <div class="row justify-content-center">
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    1
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Honnête et fiable</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Les informations et les services
                                    Les Publications sur ce site sont vérifiées. Vous pouvez les exploiter et les bénéficier en toute sécurité
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    2
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Nous améliorons toujours</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Mise à jour régulier sur les nouvelles technologies en vue d'apporter des informations fiables et des services de qualités.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    3
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Nous sommes passionnés</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Nous aimons ce que nous faisons. Ainsi nous nous mettons à votre disposition pour vous aider.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mbr-section article content1 cid-rksoqLS7ND" id="content1-13">
        <div class="container">
            <div class="media-container-row">
                <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8">
                    <div style="text-align: center">
                        <img class="align-center" src="../media/images/visionmatitechhaiti.png">
                    </div>
                    Vision: La vision de cette entreprise est de former le 
                    public dans le domaine des NTIC, de créer et de vendre des 
                    produits sophistiqués pour augmentant le savoir du public et rendre 
                    plus facile la vie humaine en utilisant la technologie.
                    </p>
                    <div style="text-align: center">
                        <img class="align-center" src="../media/images/ObjectifMatitechhaiti.png">
                    </div>
                      <p><strong> MatiTech!</strong> 
                        Objectif : Notre objectif  c’est de faire répandre de ma façon 
                        maximale l’informatique la technologie par le moyen de nos produits 
                        et services.
                    </p>
                    
                </div>
            </div>
        </div>
    </section>
   <% include footer%>