<% include header %>
<br/><br/><br/>
  <section class="features11 cid-rkAR2TUeTy" id="features11-1g">
    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 50%;">
                    <img src="media/images/communaute.jpg" alt="Matitech">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        Partenariat
                    </h2>
                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class=" align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-extension" style="color: rgb(212, 12, 12); fill: rgb(212, 12, 12);"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Relations Avec d'autres Entreprises.
                                    </h4>
                                </div>
                            </div>                
                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">
                                    Matitech est en relation avec plusieurs entreprises locales et bientôt internationales en vue de vous proposer de meilleures services. 
                                </p>
                            </div>
                        </div>
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-drag-n-drop2" style="color: rgb(212, 12, 12); fill: rgb(212, 12, 12);"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Recherche De Partenariat
                                    </h4>
                                </div>
                            </div>                
                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">
                                    L'équipe de Matitech est prête à développer des partenariats avec d'autres entreprises.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section article content10 cid-rkARewBPnK" id="content10-1h">
    <div class="container">
        <div class="inner-container" style="width: 72%;">
            <hr class="line" style="width: 20%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
                Matitech est un Réseau Large qui contribue à l'avancement de la connaissance sur les NTIC!
           </div>
            <hr class="line" style="width: 20%;">
        </div>
    </div>
</section>

<section class="testimonials1 cid-rkAQm5AeBu" id="testimonials1-1f">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    Nos Partenaires      
              </h2>
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            
            
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="mbr-figure">
                            <img src="media/images/devcircle.jpeg">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">Groupe Facebook Developer Port-au-Prince</p>
                    </div>
                    <div class="card-footer">
                        <a class="mbr-author-name mbr-bold mbr-fonts-style display-7" href="">Visiter</a> 
                    </div>
                </div>
            </div>
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="mbr-figure">
                            <img src="media/images/natcom.jpg">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"> Compagnie Telephonique</p>
                    </div>
                    <div class="card-footer">
                        <a class="mbr-author-name mbr-bold mbr-fonts-style display-7" href="">Visiter</a> 
                    </div>
                </div>
            </div>
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="mbr-figure">
                            <img src="media/images/cashmobile.png">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">Application de Paiement en Ligne</p>
                    </div>
                    <div class="card-footer">
                        <a class="mbr-author-name mbr-bold mbr-fonts-style display-7" href="">Visiter</a> 
                    </div>
                </div>
            </div>
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="mbr-figure">
                            <img src="media/images/sogebank.png">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">Application de Paiement en Ligne</p>
                    </div>
                    <div class="card-footer">
                        <a class="mbr-author-name mbr-bold mbr-fonts-style display-7" href="">Visiter</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
 <% include footer %>