<section class="cid-rkqM0ULHfh" id="social-buttons3-k">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                   <h1>Partager Ce Site</h1>
                <div>
                    <div class="mbr-social-likes">
                        <span class="btn btn-social socicon-bg-facebook facebook mx-2" title="Share link on Facebook">
                            <i class="socicon socicon-facebook"></i>
                        </span>
                        <span class="btn btn-social twitter socicon-bg-twitter mx-2" title="Share link on Twitter">
                            <i class="socicon socicon-twitter"></i>
                        </span>
                        <span class="btn btn-social instagram socicon-bg-pinterest mx-2" title="Share link on Instagram">
                            <i class="socicon socicon-instagram"></i>
                        </span>
                        <span class="btn btn-social plusone socicon-bg-googleplus mx-2" title="Share link on Google+">
                            <i class="socicon socicon-googleplus"></i>
                        </span>
                        <span class="btn btn-social pinterest socicon-bg-pinterest mx-2" title="Share link on Pinterest">
                            <i class="socicon socicon-pinterest"></i>
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section form3 cid-rkqLP7JwO5" id="form3-j">





    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2" id="mon_ancre">
                    Formulaire d'Inscription
                </h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    S'inscrire a la Newsletter de Matitech
                </h3>
                <hr>
                <p style ="color: green;
                font-style: italic;
                font-weight: Bold;
                text-align: center;">Visite votre corier electronique pour voir la confirmation de ton inscription</p>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <form action="utilisateurs\enregistrer" method="POST" class="mbr-form form-with-styler">
                    <div class="dragArea row">
                        <div class="form-group col" data-for="email">
                            <input type="email" name="mail" placeholder="Email" data-form-field="mail" required="required" class="form-control display-7" id="email-form3-j">
                        </div>
                        <br/>
                        <div class="col-auto input-group-btn">
                            <button type="submit" class="btn btn-primary display-4">S'inscrire</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="cid-rkqMdUtq2v" id="footer1-l">





    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="/">
                        <img src="assets/images/logo.png" alt="Matitech">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Address
                </h5>
                <p class="mbr-text">
                    140, Rue Acul Espagnol&nbsp;<br>Croix-des-Bouquets, Haiti</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: matitech@gmail.com
                    <br>Phone: +1 (509) 33903721&nbsp;<br>Phone: +1 (509) 33903721
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">
                    <a class="text-white" href="/">Aceuil</a>
                    <a class="text-white" href="/apropos">CEO</a>
                    <a class="text-white" href="/service">Services</a>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 Matitech- All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/MatiTech_" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://web.facebook.com/MatiTechHaiti/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/channel/UCu42sGW2yLuPwsK2uYwA1gg?view_as=subscriber" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.instagram.com/matitech_haiti/?hl=fr" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fei%3DMrqzXKWFMM_G5gKh6qOgCg%26q%3Dmatitech%26oq%3Dmatitech%26gs_l%3Dpsy-ab.3...15650.16109..16441...0.0..0.565.565.5-1......0....1..gws-wiz.cVDXPMxm-HM&hl=fr-HT&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/countdown/jquery.countdown.min.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/theme/js/script.js"></script>



  <input name="animation" type="hidden">
   <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
       <a style="text-align: left;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
  </body>
</html>
