
<% include header %>
</br></br></br></br>
  <section class="header1 cid-rkshrmbOdl" id="header16-x">
    </br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                    <div class="title col-12">
                        <h2 class="align-left mbr-fonts-style m-0 display-1">
                            Services
                        </h2>
                    </div>
                  <p class="mbr-text pb-3 mbr-fonts-style display-5">
                  Beneficier de nos Services avec des prix abordables.
                  </p>
            </div>
        </div>
    </div>
  </section>


<section class="features3 cid-rkruzY87mg" id="features3-r">
    <br/>

    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/background1.jpg" alt="Matitech">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Market-Place
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                          Achtez des produits de qualites chez nous ou dans nos magasins autorise.
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <div class="mbr-section-btn text-center">
                        <a href="#" class="btn btn-primary display-4">
                            EN Construction ...
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/background2.jpg" alt="Matitech">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Creations d'Application ou Site Web
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Création de Logiciel de bureau ou de site internet pour des entreprises voulant s'intégrer dans le domaine de l'informatique.
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="#" class="btn btn-primary display-4">
                            Construction...
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/background3.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Services Divers
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Les services divers sont des autres services lies à nos partenaires.
                        </p>
                        <br/>
                        <br/>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="#" class="btn btn-primary display-4">
                            Construction...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="media-container-row">
    <div class="col-7 col-md-4 col-lg-3">
        <img src="../media/images/logopng.png" width="100%" alt="matitechlogo">
    </div>
</div>

<% include footer %>
